/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {background-color: #f9f9fd;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,a:link,a:visited,a:active{color:#3c3c3c;letter-spacing:normal;text-decoration:none;letter-spacing:-0.8px;}
body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

.clearfix::after{content: ""; display: block; clear:both;}

#wrap{width:1920px;
	}

.margin_wrap{width:90%;
            margin:0 auto;}

			/* header 시작 */
header{height:170px;}

#logo{width:210px;
    float: left;
	margin-top:50px;}
#logo img{width:100%;}
.nav{float: right;
	width:800px;
	font-size:19px;
	font-weight: 500;
	margin-top: 80px;
	text-align: center;}
.nav li{float: left;
		width:152px;
		margin-left: 8px;}

.back_img{position:absolute;
		top:0px;
		z-index: -999;}
/* header 끝 */
/* section 1 */
#section1{height:745px;}

.text_box h2{padding:10% 0 4% 0;
	font-size:70px;
			line-height: 70px;}

.text_box span{font-size: 30px;
				font-weight: 200;}

.btn{width:178px;
		height:50px;
		background-color: #f3d75d;
		margin-top:55px;
		text-align: center;
		line-height: 55px;
		border-radius: 60px;
		font-size: 20px;
		cursor: pointer;}

/* section 1 */
/* section 2 */
#section2 li{float: left;
			width:500px;
			height:175px;
			margin-left: 6.55%;
			background-color:white;
			border-radius: 20px;}

#section2 li:nth-child(1){margin-left: 0px;}

#section2 li img{float: left;
				width:110px;
				margin:27px 23PX;}

.con1_text{display: block;
			margin-top:50px;}

.con1_text span{font-size: 20px;}

.con1_text p{font-size: 15px;
			padding-top: 20px;
			line-height: 16px;}
/* section 2 */
/* section 3 */
#section3{height:1065px;}
		/* background-color: #3c3c3c;} */
.con2 img{width:800px;
		position:relative;
		margin-top:220px;
		float: left;}
.con2 .text_box{padding:18% 0 4% 0;
				float: right;
				text-align:right;}

				
.con2 .text_box .btn{margin-top:80px;
					margin-left:322px;}
/* section 3 */
/* section 4 */
#section4 .title{width:100%;
				/* background-color: wheat; */
				text-align: center;
				padding:10% 0 5% 0;
				}
.title span{font-size: 50px;
			line-height: 100px;
			letter-spacing:3px;}

.title span:nth-child(2){font-size: 120px;
						font-weight: 600;}
#section4{height:920px;}
#section4 .table{height:330px;
		background-color: #f3d75d;
		border-radius: 50px;}

.table li{float: left;
		width:24.85%;
		height:160px;
		margin-top:85px;
		text-align: center;
		border-right:#f9f9fd solid 3px;
		color: #f9f9fd;}
.table li:nth-child(4){border-right: none;}

.table li span{font-size: 60px;}
.table li p{font-size: 30px;
			line-height: 60px;}

/* section 4 */
/* section 5 */
#section5{width:100%;
		height:785px;
		position: relative;
		background-color: #f9f9fd;}

.text_box2{width:40%;
				height:435px;
					display:block;
					float: left;
					margin-top:10%;}


.text_box2 h4{font-size:60px;
				line-height: 65px;
				padding-bottom:50px;}

.text_box2 span{font-size: 30px;
				color:#7b7b7b;}

.text_box2 .btn{font-size: 20px;
					display: block;}
.slide{width:60%;
		display: inline-block;
		margin-top:10%;}

.slide_box{width:280px;
				height:435px;
				float: right;
				background-color:#fff;}
.slide_box img{width:280px;
			margin: 10px 0 20px 1px;}
	
.slick_text{display:block;
			margin-left: 20px;}
	
.slick_text h5{font-size: 18px;
			font-weight: 600;
			padding-bottom: 20px;}
	
.slick_text h6{font-size: 16px;
				line-height: 18px;
				padding-bottom: 5px;;
				color:#959595;}
.slick_text p{font-size: 16px;
				color:#f7941d;
				font-weight: 400;}

/* section 5
